@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: rgb(48, 77, 88);
  padding: 0 20px;
}

::selection{
  color: #fff;
  background: #664AFF;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  max-width: 450px;
  margin: 150px auto;
  background: #e4e2e2;
  border-radius: 5px;
}
.container h1 {
  color: rgb(148, 127, 6);
}
.container h2 {
  color: rgb(48, 77, 88);
}
.container label {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  color: rgb(48, 77, 88);
}

.container .search{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.container #Namebox {
  height: 50px;
}

.search input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search.active input{
  border-radius: 5px 5px 0 0;
}

.search .list{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search.active .list{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.list li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.search.active .list li{
  display: block;
}
.list li:hover{
  background: #efefef;
}

.search .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: rgb(48, 77, 88);
  cursor: pointer;
}

.container input {
  border-radius: 5px;
  height: 35px;
  cursor: pointer;
  margin: 0px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  
}

hr {
  margin: 20px;
  width: 400px;
}

#Secbox,
#ml,
#kg {
  width: 90px;
  text-align: center;
  font-size: 15px;
}


.container button {
  padding: 5px;
  margin: 5px;
  height: 40px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 18px;
  box-shadow: 1px 1px 1px black;
}

button:hover {
  opacity: 0.5;
  transition: 1s;
}

p {
  font-size: 15px;
}

#Insbtn {
  background-color: rgb(77, 184, 80);
  color: white;
}
#Alibtn{
  background-color: rgb(195, 67, 195);
  color: white;
}